html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

section, h2 {
  text-align: center;
}

#top {
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin: 100px 0;
  font-size: 2em;
  min-height: 120px;
}



#mines {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  /*padding */
  /*min-width */
  /*min-height */
  border: solid rgb(74, 74, 74) 3px;
}

.tile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  
  user-select: none;

  border: solid rgb(74, 74, 74) 3px;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
  cursor: pointer;

  background-color: grey;
  color: grey;
}

.revealed {
  cursor: default;

  background-color: lightskyblue;
  color: black;
}

.mine {
  background-color: rgb(255, 115, 141);
  color: rgb(255, 115, 141);
}